Repository Consciously/con-selfrag: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docker-compose, check-env-example

check-docker-compose:
  name: Validate docker-compose.yml
  entry: docker-compose
  args:
  - config
  - -q
  language: system

check-env-example:
  name: Check .env.example is up to date
  entry: bash
  args:
  - -c
  - diff -u .env.example <(grep -v "^#" .env.example | sort) || exit 0
  language: system

Fix/phase 2 (#16)
  BACKUP_STRATEGY.md
  DATA_STORAGE_COMPLETION_REPORT.md
  backend/Dockerfile
  backend/app/database/models.py
  backend/migrations/versions/003_add_memory_logs_table.py
  backend/pyproject.toml
  backend/qdrant_optimize.py
  scripts/backup/full_backup.sh
  scripts/backup/postgres_backup.sh
  scripts/backup/qdrant_backup.sh
Due: none

feat: Complete System Services monitoring & diagnostics (85% → 100%)
  .env.example
  MONITORING_COMPLETION_REPORT.md
  SYSTEM_SERVICES_FINAL_COMPLETION.md
  backend/app/cli/main.py
  backend/app/config.py
  backend/app/logging_utils.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/metrics.py
  backend/app/routes/metrics.py
  backend/app/routes/status.py
  backend/pyproject.toml
  backend/test_monitoring.py
  backend/uv.lock
  docker-compose.yml
Due: check-docker-compose, check-env-example

Fix/phase 2 (#17)
  .env.example
  MONITORING_COMPLETION_REPORT.md
  SYSTEM_SERVICES_FINAL_COMPLETION.md
  backend/app/cli/main.py
  backend/app/config.py
  backend/app/logging_utils.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/metrics.py
  backend/app/routes/metrics.py
  backend/app/routes/status.py
  backend/pyproject.toml
  backend/test_monitoring.py
  backend/uv.lock
  docker-compose.yml
Due: check-docker-compose, check-env-example

fix: resolve Redis health check causing service startup failures
  backend/test_ml.txt
  docker-compose.yml
Due: check-docker-compose

clean: clean-up the project
  backend/cli_demo.sh
  backend/compile_grpc.sh
  backend/localai-config.yaml
  backend/qdrant_optimize.py
  backend/selfrag
  backend/setup_auth.sh
  backend/setup_cli.sh
  backend/test_auth.py
  backend/test_auth_standalone.py
  backend/test_context_aware_query.py
  backend/test_monitoring.py
Due: none

feat(memory): add memory tables readiness check, fix repo connections, align role column type, re-export memory models
  BACKUP_STRATEGY.md
  DATA_STORAGE_COMPLETION_REPORT.md
  MONITORING_COMPLETION_REPORT.md
  PHASE2_IMPLEMENTATION_REPORT.md
  PHASE2_PERFORMANCE_PLAN.md
  PROJECT_COMPLETION_SUMMARY.md
  README.md
  SYSTEM_SERVICES_FINAL_COMPLETION.md
  TEST_REPORT.md
  backend.yml
  backend/API_DOCUMENTATION.md
  backend/app/api/schemas/memory.py
  backend/app/database/repositories/memory_repository.py
  backend/app/main.py
  backend/app/middleware/redaction.py
  backend/app/models/__init__.py
  backend/app/models/memory_models.py
  backend/app/routes/memory_routes.py
  backend/app/services/memory_service.py
  backend/app/startup_check.py
  backend/migrations/versions/004_memory_tables.py
  docker-compose.yml
  docs/API_REFERENCE.md
  docs/CLI_GUIDE.md
  docs/COMPREHENSIVE_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  frontend.yml
  implementation-plans/PHASE2_COMPLETION_ANALYSIS.md
  test_document.md
  test_embedding.txt
Due: check-docker-compose

add docker-compose.yml
  docker-compose.yml
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/mockup/infographic/page.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
Due: check-docker-compose

Feature/phase 3 memory UI (#19)
  docker-compose.yml
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/mockup/infographic/page.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
Due: check-docker-compose

Path conditions:
  check-docker-compose: any of: ^docker-compose\.yml$
  check-env-example: any of: ^\.env\.example$
