Repository Consciously/con-selfrag: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docker-compose, check-env-example

check-docker-compose:
  name: Validate docker-compose.yml
  entry: docker-compose
  args:
  - config
  - -q
  language: system

check-env-example:
  name: Check .env.example is up to date
  entry: bash
  args:
  - -c
  - diff -u .env.example <(grep -v "^#" .env.example | sort) || exit 0
  language: system

fix:Docker build and health checks: resolve qdrant endpoint, Alpine package issues, and port conflicts
  .gitignore
  backend/Dockerfile
  docker-compose.yml
  scripts/health-check.sh
Due: check-docker-compose

Create minimal docker-compose.yml with core Selfrag services (LocalAI, FastAPI, Qdrant, PostgreSQL, Redis)
  docker-compose.yml
Due: check-docker-compose

fix:Update Qdrant to use official latest image and remove healthcheck dependency
  docker-compose.yml
  qdrant_data/aliases/data.json
  qdrant_data/raft_state.json
  services/qdrant/Dockerfile
Due: check-docker-compose

feat: implement modular FastAPI backend with /ingest, /query, and /health endpoints
  backend/API_DOCUMENTATION.md
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/request_models.py
  backend/app/models/response_models.py
  backend/app/routes/__init__.py
  backend/app/routes/health.py
  backend/app/routes/ingest.py
  backend/app/routes/query.py
  backend/app/services/__init__.py
  backend/app/services/ingest_service.py
  backend/app/services/query_service.py
  backend/test_endpoints.py
Due: none

fix:working on solution for linting issues
  Makefile
  backend/Dockerfile
  backend/README.md
  backend/app/__init__.py
  backend/app/config.py
  backend/app/database/connection.py
  backend/app/database/models.py
  backend/app/localai_client.py
  backend/app/main.py
  backend/app/models.py
  backend/app/models/request_models.py
  backend/app/models/response_models.py
  backend/app/routes/health.py
  backend/app/routes/ingest.py
  backend/app/routes/query.py
  backend/app/services/ingest_service.py
  backend/app/services/query_service.py
  backend/localai-config.yaml
  backend/pyproject.toml
  backend/test_endpoints.py
  docker-compose.yml
Due: check-docker-compose

fix:working on solution for linting issues (#2)
  Makefile
  backend/Dockerfile
  backend/README.md
  backend/app/__init__.py
  backend/app/config.py
  backend/app/database/connection.py
  backend/app/database/models.py
  backend/app/localai_client.py
  backend/app/main.py
  backend/app/models.py
  backend/app/models/request_models.py
  backend/app/models/response_models.py
  backend/app/routes/health.py
  backend/app/routes/ingest.py
  backend/app/routes/query.py
  backend/app/services/ingest_service.py
  backend/app/services/query_service.py
  backend/localai-config.yaml
  backend/pyproject.toml
  backend/test_endpoints.py
  docker-compose.yml
Due: check-docker-compose

fix: resolve FastAPI startup issues - import errors, logging permissions, config attributes, and router prefix duplication
  backend/README.md
  backend/README_LOGGING.md
  backend/app/logging_utils.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/routes/health.py
  backend/app/routes/ingest.py
  backend/app/routes/query.py
  backend/app/services/ingest_service.py
  backend/app/services/query_service.py
  backend/logging_test_isolated.py
  backend/simple_logging_test.py
  backend/test_logging.py
  backend/test_logging_standalone.py
  docker-compose.yml
Due: check-docker-compose

Feature/phase 1 api foundation (#4)
  backend/README.md
  backend/README_LOGGING.md
  backend/app/logging_utils.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/routes/health.py
  backend/app/routes/ingest.py
  backend/app/routes/query.py
  backend/app/services/ingest_service.py
  backend/app/services/query_service.py
  backend/logging_test_isolated.py
  backend/simple_logging_test.py
  backend/test_logging.py
  backend/test_logging_standalone.py
  docker-compose.yml
Due: check-docker-compose

✅ Complete Milestone 2: PostgreSQL, Redis, Qdrant connectivity with health monitoring and write operations
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/startup_check.py
  backend/pyproject.toml
  backend/test_milestone2.py
  debug_postgres.py
  debug_postgres.sh
  docker-compose.yml
  fix_milestone2_issues.sh
  install_uv.sh
  quick_fix.sh
  quick_fix_venv.sh
  start_server.sh
  test_milestone2.sh
Due: check-docker-compose

Feature/phase 1 api foundation (#5)
  backend/app/main.py
  backend/app/routes/health.py
  backend/app/startup_check.py
  backend/pyproject.toml
  backend/test_milestone2.py
  debug_postgres.py
  debug_postgres.sh
  docker-compose.yml
  fix_milestone2_issues.sh
  install_uv.sh
  quick_fix.sh
  quick_fix_venv.sh
  start_server.sh
  test_milestone2.sh
Due: check-docker-compose

feat: complete LocalAI client refactoring with comprehensive error handling, structured logging, and full test coverage for all required methods (generate, embed, list_models, health_check)
  debug_services.sh
  diagnose_localai.sh
  quick_install_deps.sh
  run_localai_tests.sh
  setup_test_env.sh
  test_localai_client.sh
  test_milestone3.sh
Due: none

feat: complete LocalAI client refactoring with comprehensive error handling, structured logging, and full test coverage for all required methods (generate, embed, list_models, health_check)
  backend/app/localai_client.py
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/routes/health.py
  backend/app/routes/llm.py
  backend/app/startup_check.py
  backend/milestone3_test_results.json
  backend/test_localai_client.py
  backend/test_localai_standalone.py
  backend/test_milestone3.py
Due: none

Feature/phase 1 api foundation (#6)
  backend/app/localai_client.py
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/routes/health.py
  backend/app/routes/llm.py
  backend/app/startup_check.py
  backend/milestone3_test_results.json
  backend/test_localai_client.py
  backend/test_localai_standalone.py
  backend/test_milestone3.py
  debug_services.sh
  diagnose_localai.sh
  quick_install_deps.sh
  run_localai_tests.sh
  setup_test_env.sh
  test_localai_client.sh
  test_milestone3.sh
Due: none

feat: add debug endpoints for LocalAI testing with comprehensive human-in-loop verification
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/routes/debug.py
  backend/test_debug_endpoints.py
  fastapi.pid
  restart_debug.sh
  test_debug_step3.sh
Due: none

Feature/phase 1 api foundation (#7)
  backend/app/main.py
  backend/app/routes/debug.py
  backend/test_debug_endpoints.py
  fastapi.pid
  restart_debug.sh
  test_debug_step3.sh
Due: none

feat: implement /models and /health/llm endpoints with comprehensive testing and Docker integration
  .env.example
  backend/app/main.py
  backend/app/routes/health.py
  quick_test_step5.py
  test_step5.sh
  test_step5_endpoints.py
Due: check-env-example

Feature/phase 1 api foundation (#8)
  .env.example
  backend/app/main.py
  backend/app/routes/health.py
  quick_test_step5.py
  test_step5.sh
  test_step5_endpoints.py
Due: check-env-example

feat: Implement comprehensive CLI module for Selfrag
  CLI_IMPLEMENTATION_SUMMARY.md
  README.md
  backend/Dockerfile
  backend/RAG_IMPLEMENTATION.md
  backend/RAG_SUCCESS_SUMMARY.md
  backend/README.md
  backend/app/cli/README.md
  backend/app/cli/__init__.py
  backend/app/cli/main.py
  backend/app/config.py
  backend/app/main.py
  backend/app/routes/__init__.py
  backend/app/routes/health.py
  backend/app/routes/ingest.py
  backend/app/routes/query.py
  backend/app/routes/rag.py
  backend/app/services/__init__.py
  backend/app/services/document_processor.py
  backend/app/services/embedding_service.py
  backend/app/services/ingest_service.py
  backend/app/services/query_service.py
  backend/app/services/vector_service.py
  backend/cli_demo.sh
  backend/pyproject.toml
  backend/selfrag
  backend/selfrag_cli.py
  backend/setup_cli.sh
Due: none

📋 Add codebase cleanup summary documentation
  CLEANUP_SUMMARY.md
Due: none

feat: Implement Phase 2 Performance & Caching Layer
  CLEANUP_SUMMARY.md
  PHASE2_IMPLEMENTATION_REPORT.md
  PHASE2_PERFORMANCE_PLAN.md
  backend/app/database/connection.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/performance.py
  backend/app/routes/health.py
  backend/app/services/cache_service.py
  backend/app/services/embedding_service.py
  backend/app/services/query_service.py
  backend/app/services/vector_service.py
Due: none

feat: Implement comprehensive authentication and security system
  .env.example
  backend/alembic.ini
  backend/app/config.py
  backend/app/database/connection.py
  backend/app/database/models.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/auth.py
  backend/app/middleware/rate_limiting.py
  backend/app/routes/__init__.py
  backend/app/routes/auth.py
  backend/app/routes/rate_limits.py
  backend/app/services/auth_service.py
  backend/app/services/rate_limit_service.py
  backend/app/services/vector_service.py
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/001_auth_tables.py
  backend/migrations/versions/002_auth_enhancements.py
  backend/pyproject.toml
  backend/setup_auth.sh
  backend/test_auth.py
  backend/test_auth_standalone.py
  backend/uv.lock
  implementation-plans/PHASE2_COMPLETION_ANALYSIS.md
Due: check-env-example

Feature/phase 2 rag cli enhancements (#11)
  .env.example
  backend/alembic.ini
  backend/app/config.py
  backend/app/database/connection.py
  backend/app/database/models.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/auth.py
  backend/app/middleware/rate_limiting.py
  backend/app/routes/__init__.py
  backend/app/routes/auth.py
  backend/app/routes/rate_limits.py
  backend/app/services/auth_service.py
  backend/app/services/rate_limit_service.py
  backend/app/services/vector_service.py
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/001_auth_tables.py
  backend/migrations/versions/002_auth_enhancements.py
  backend/pyproject.toml
  backend/setup_auth.sh
  backend/test_auth.py
  backend/test_auth_standalone.py
  backend/uv.lock
  implementation-plans/PHASE2_COMPLETION_ANALYSIS.md
Due: check-env-example

docs: Fix Phase 2 analysis - authentication IS implemented
  implementation-plans/PHASE2_COMPLETION_ANALYSIS.md
Due: none

feat: Complete CON-SelfRAG system testing and optimization
  TEST_REPORT.md
  backend/app/database/connection.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/localai-config-optimized.yaml
  backend/localai-config.yaml
  docker-compose.yml
  implementation-plans/PHASE2_COMPLETION_ANALYSIS.md
  test_document.md
Due: check-docker-compose

Feature/phase 2 rag cli enhancements (#12)
  TEST_REPORT.md
  backend/app/database/connection.py
  backend/app/main.py
  backend/localai-config-optimized.yaml
  backend/localai-config.yaml
  docker-compose.yml
  implementation-plans/PHASE2_COMPLETION_ANALYSIS.md
  test_document.md
Due: check-docker-compose

do some further stuff
  backend/Dockerfile
  backend/app/main.py
  backend/app/routes/ingest.py
  backend/app/services/vector_service.py
  backend/selfrag_cli.py
  docker-compose.yml
  test_embedding.txt
Due: check-docker-compose

Feature/phase 2 rag cli enhancements (#13)
  backend/Dockerfile
  backend/app/main.py
  backend/app/routes/ingest.py
  backend/app/services/vector_service.py
  backend/selfrag_cli.py
  docker-compose.yml
  test_embedding.txt
Due: check-docker-compose

design: mockup some UI ideas
  frontend/.gitignore
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/mockup.zip
  frontend/src/app/mockup/claude4sonnet/page.tsx
  frontend/src/app/mockup/glm45/page.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: none

design: mockup some UI ideas
  frontend/src/app/mockup/claude4sonnet/page.tsx
  frontend/src/app/mockup/glm45/page.tsx
Due: none

Feature/phase 2 rag cli enhancements (#14)
  frontend/.gitignore
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/mockup.zip
  frontend/src/app/mockup/claude4sonnet/page.tsx
  frontend/src/app/mockup/glm45/page.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: none

feat: Enhance RAG and Finalize API Layer
  Makefile
  backend/RAG_COMPLETION_SUMMARY.md
  backend/RAG_CONTEXT_ENHANCEMENT.md
  backend/app/api/__init__.py
  backend/app/api/v1.py
  backend/app/cli/main.py
  backend/app/grpc/__init__.py
  backend/app/grpc/generated/__init__.py
  backend/app/grpc/generated/selfrag_pb2.py
  backend/app/grpc/generated/selfrag_pb2_grpc.py
  backend/app/grpc/protos/selfrag.proto
  backend/app/grpc/server.py
  backend/app/main.py
  backend/app/middleware/error_handling.py
  backend/app/models/request_models.py
  backend/app/models/response_models.py
  backend/app/routes/health.py
  backend/app/routes/query.py
  backend/app/services/cache_service.py
  backend/app/services/query_service.py
  backend/compile_grpc.sh
  backend/pyproject.toml
  backend/test_context_aware_query.py
Due: none

feat: Enhance RAG and Finalize API Layer (#15)
  Makefile
  backend/RAG_COMPLETION_SUMMARY.md
  backend/RAG_CONTEXT_ENHANCEMENT.md
  backend/app/api/__init__.py
  backend/app/api/v1.py
  backend/app/cli/main.py
  backend/app/grpc/__init__.py
  backend/app/grpc/generated/__init__.py
  backend/app/grpc/generated/selfrag_pb2.py
  backend/app/grpc/generated/selfrag_pb2_grpc.py
  backend/app/grpc/protos/selfrag.proto
  backend/app/grpc/server.py
  backend/app/main.py
  backend/app/middleware/error_handling.py
  backend/app/models/request_models.py
  backend/app/models/response_models.py
  backend/app/routes/health.py
  backend/app/routes/query.py
  backend/app/services/cache_service.py
  backend/app/services/query_service.py
  backend/compile_grpc.sh
  backend/pyproject.toml
  backend/test_context_aware_query.py
Due: none

feat: Complete data storage layer - final 5% implementation (95% → 100%)
  BACKUP_STRATEGY.md
  DATA_STORAGE_COMPLETION_REPORT.md
  backend/Dockerfile
  backend/app/database/models.py
  backend/migrations/versions/003_add_memory_logs_table.py
  backend/pyproject.toml
  backend/qdrant_optimize.py
  scripts/backup/full_backup.sh
  scripts/backup/postgres_backup.sh
  scripts/backup/qdrant_backup.sh
Due: none

Path conditions:
  check-docker-compose: any of: ^docker-compose\.yml$
  check-env-example: any of: ^\.env\.example$
